{% extends "layout_template.html" %}
{% block js %}{% endblock %}
{% block style %}<link href="{{ url_for('static', filename='styles/christmas.css')}}" rel="stylesheet">{% endblock %}


{% block body_content %}
<div class="pure-g" style="text-align:center;">
	<div class="pure-u-5-5">
		<h1>{{ strings.title }}</h1>
		{% for p in strings.paragraphs %}
			{% if loop.index > loop.length - 2 %}
				<h2>{{p}}</h2>
			{% else %}
				<p>{{p}}</p>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}