
/* ---------------------------------------------------------
   Christmas Page Styles
   ---------------------------------------------------------*/
h1 {
	margin: 2em;
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

p {
	font-size: 21px;
	margin: 2em;
}