
/* ---------------------------------------------------------
   Landing Page Styles
   ---------------------------------------------------------*/
.landing-title {
	font-size: 56px;
	margin-top: 3em;
	margin-bottom: 1em;
}

.landing-text {

}
