
/* ---------------------------------------------------------
   Landing Page Styles
   ---------------------------------------------------------*/
.body-div {
}   

.landing-left{
	
}

.landing-center{
}

.landing-right{
	
}

.landing-title {
	margin-top:10%;
	font-size:5vw;
	text-align:center;
}

.landing-paragraph {
	font-size:2vw;
	text-align:center;
}


.landing-title h1 {
	padding: 2vw 0;
}

