/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for
   you to simply add your own. This is a basic template
   after all.
   ---------------------------------------------------------*/

/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

html, body {
	background-color:#221933;
	color:#c3c3e5;
}

a:link, a:visited, a:hover, a:active {
	color:rgb(98,98,114);
	text-decoration:none;
}

.main-body {
	background-color:#f1f0ff;
	color:#221933;
}

.main-body a:link, .main-body a:visited, .main-body a:hover, .main-body a:active {
	color:#540054;
}

.side-bar {
	height:100vh;
}

iframe {
	width:100%;
	height:100%;
}


/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: transparent !important;
    }

    html {
        background-color: #fff;
    }
    /* Hide navigation */
    nav {
        display: none;
    }

    /* Show link destinations in brackets after the link text */
    a[href]:after {
        content: " (" attr(href) ") ";
    }

    a[href] {
        font-weight: bold;
        text-decoration: underline;
        color: #06c;
        border: none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    figure {
        margin-bottom: 1em;
        overflow: hidden;
    }

        figure img {
            border: 1px solid #000;
        }
}
